<ion-content padding>

  <ion-card padding>
    <ion-card-title>{{ this.name }}'s profile</ion-card-title>
  </ion-card>

  <ion-card *ngIf="!isAnalyzed">
    <button ion-button
            (click)="analyzeContact()">Analyze contact</button>
  </ion-card>

  <ion-card *ngIf="isAnalyzed">
    <ion-card-title padding>Favourite emojis</ion-card-title>
    <div class="container" padding>
      <h3>Sent</h3>
      <div class="emoji-list">
        <span class="emoji"
              *ngFor="let emoji of favouriteEmojis['out']"
              [attr.data-occurrence]="emoji.occurrence">
          <span class="emoji-character">{{ emoji.character }}</span>
          <span class="emoji-occurrence">{{ emoji.occurrence }}</span>
        </span>
      </div> <!-- emoji-list -->
    </div> <!-- container -->

    <div class="container" padding>
      <h3>Received</h3>
      <div class="emoji-list">
        <span class="emoji"
              *ngFor="let emoji of favouriteEmojis['in']"
              [attr.data-occurrence]="emoji.occurrence">
          <span class="emoji-character">{{ emoji.character }}</span>
          <span class="emoji-occurrence">{{ emoji.occurrence }}</span>
        </span>
      </div> <!-- emoji-list -->
    </div> <!-- container -->

  </ion-card>

</ion-content>
